.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .free-btn{
      background-color: #c60045 !important;
      color: azure;
  }
  footer{
    background: #eee;
    padding: 20px;
    text-align: center;
}
.title {
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 12px 0;
    color: #5e2195;
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}
.full-height {
  height: 100vh;
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.position-ref {
  position: relative;
}
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}
.content {
  text-align: center;
}
.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.m-b-md {
  margin-bottom: 30px;
}

footer{
  background: #eee;
  padding: 20px;
  text-align: center;
}
.title {
  font-size: 50px;
  text-transform: uppercase;
  border-bottom: 2px solid;
  padding: 12px 0;
  color: #5e2195;
}

.backImg{
  background-image: url("/img/night.jpg");
  background-position: top;
  background-size: cover;
}

.blog-header-logo {
  font-family: 'Yellowtail', cursive;
  font-size: 40px;
  text-decoration: none;
}


.part3{
  display: grid;
  grid-template-columns: 30% repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 1%;
}

.p3Img{
  height: 170px;
}

.p3b{
  font-size: 12px;
  /* height: 20px; */
  display: flex;
  /* justify-content: space-between; */
}

.provinces{
  background-image: url('/img/lake.jpg');
  height: 142px;
  background-size: cover;
 
}

.form-img{
  height: 450px;
}

/* feature */

.feature-box{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* text-align: center; */
}
.features{
  flex-basis: 50%;
}
.features-img{
  flex-basis: 50%;
  margin: auto;
}
.features-img img{
  width: 70%;
  border-radius: 10px;
}
.features h1{
  text-align: left;
  margin-bottom: 10px;
  color: #c73030;
  font-size: 47px;
  letter-spacing: 3px;
}

.features-desc{
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 40px;
}

.feature-text p{
  /* padding: 0 20px; */
  text-align: initial;
  font-size: 21px;
}

.row h1{
  letter-spacing: 2px;
  font-size: 60px;
}

                  

@media screen and (max-width: 768px) {
  .features{
      flex-basis: 100%;
      color: cadetblue;
  }
  .features-img{
      flex-basis: 100%;
  }
  .features-img img{
      width: 100%;
  }
}

@media screen and (max-width: 320px) {
  nav{
    height: 55px;
  }
  .blog-header-logo {
    font-size: 20px;
  }
  .free-btn {
    height: 49px;
    font-size: 15px;
    padding: 0 6px;
  }

  .part3{
    grid-template-columns: 47% repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: 2%;
  }

}

