.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .free-btn{
      background-color: #c60045 !important;
      color: azure;
  }
  footer{
    background: #eee;
    padding: 20px;
    text-align: center;
}
.title {
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 12px 0;
    color: #5e2195;
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}